@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 30% 10%;
    --foreground: 210 40% 98%;
    --card: 240 30% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 240 30% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 181 100% 75%;
    --primary-foreground: 240 64% 10%;
    --secondary: 240 30% 20%;
    --secondary-foreground: 181 100% 85%;
    --muted: 240 30% 20%;
    --muted-foreground: 240 5% 65%;
    --accent: 197 71% 73%;
    --accent-foreground: 240 64% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 30% 25%;
    --input: 240 30% 25%;
    --ring: 181 100% 85%;
    --chart-1: 181 100% 75%;
    --chart-2: 197 71% 73%;
    --chart-3: 210 40% 98%;
    --chart-4: 240 5% 65%;
    --chart-5: 240 30% 20%;
    --radius: 0.5rem;
    --sidebar-background: 240 30% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 181 100% 75%;
    --sidebar-primary-foreground: 240 64% 10%;
    --sidebar-accent: 240 30% 20%;
    --sidebar-accent-foreground: 181 100% 85%;
    --sidebar-border: 240 30% 25%;
    --sidebar-ring: 181 100% 85%;
  }
  .dark {
    --background: 240 30% 10%;
    --foreground: 210 40% 98%;
    --card: 240 30% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 240 30% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 181 100% 75%;
    --primary-foreground: 240 64% 10%;
    --secondary: 240 30% 20%;
    --secondary-foreground: 181 100% 85%;
    --muted: 240 30% 20%;
    --muted-foreground: 240 5% 65%;
    --accent: 197 71% 73%;
    --accent-foreground: 240 64% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 30% 25%;
    --input: 240 30% 25%;
    --ring: 181 100% 85%;
    --chart-1: 181 100% 75%;
    --chart-2: 197 71% 73%;
    --chart-3: 210 40% 98%;
    --chart-4: 240 5% 65%;
    --chart-5: 240 30% 20%;
    --sidebar-background: 240 30% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 181 100% 75%;
    --sidebar-primary-foreground: 240 64% 10%;
    --sidebar-accent: 240 30% 20%;
    --sidebar-accent-foreground: 181 100% 85%;
    --sidebar-border: 240 30% 25%;
    --sidebar-ring: 181 100% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
